<div class='container'>
  <div class='row'>
    <div class='col-sm-12'>
      <div class='app-header col-sm-12'><!-- heaer begins -->
        <div class='app-header-logo col-sm-4'>
          <%= image_tag 'logo.png' %>
        </div>
        <div class='app-header-text col-sm-8'>
          <h1>What type of traveler are you?</h1>
        </div>
      </div><!-- heaer ends -->
      <div class='app-content-wrapper col-sm-12'><!-- app content begins -->
        hello
      </div><!-- app content ends -->
      <div class='app-footer-wrapper col-sm-12'><!-- app footer begins -->
        <div class='col-sm-3 footer-lgo'>
          <%= image_tag 'footer-logo.png' %>
        </div>
        <span class='footer-dividers'></span>
        <div class='col-sm-3 footer-text'>
          <h3>Dirección</h3>
          <h3>Telefono</h3>
        </div>
        <span class='footer-dividers'></span>
        <div class='col-sm-3 footer-lgo'>
          <%= image_tag 'footer-logo.png' %>
        </div>
        <span class='footer-dividers'></span>
        <div class='col-sm-3 footer-lgo'>
          <%= image_tag 'footer-logo.png' %>
        </div>
      </div><!-- app footer ends -->
    </div>
  </div>
</div>
